# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# API URL configuration
#UPSTREAM_URL=

##
## Better Auth settings
##
# Secret, generate using openssl rand -base64 32
NUXT_BETTER_AUTH_SECRET=

# Base URL of the application
NUXT_PUBLIC_APP_URL=http://localhost:3000

# Postgres credentials, used when not in dev mode
NUXT_BETTER_AUTH_DB_URL=postgres://localhost:5432/database
NUXT_BETTER_AUTH_DB_USERNAME=
NUXT_BETTER_AUTH_DB_PASSWORD=
