# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# API URL configuration
#UPSTREAM_URL=

# OpenID settings
POCKET_SERVER=https://login.troela.fun
POCKET_CLIENT_ID=logistiek-nuxt-dev
POCKET_CLIENT_SECRET=

# OpenID Connect settings
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_ID=$POCKET_CLIENT_ID
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_SECRET=$POCKET_CLIENT_SECRET
#NUXT_OIDC_PROVIDERS_OIDC_REDIRECT_URI=http://localhost:3000/auth/oidc/callback

# OIDC for Nuxt session tokens
# Replace these with custom tokens, if desired.
NUXT_OIDC_TOKEN_KEY=data:;base64,G5Ta7LwDFYmtDT5gX6Aw/GjH9lI/Whmyua5VUpFxD1w=
NUXT_OIDC_SESSION_SECRET=Imm1X3R5qD05BaaUyMI2TM8aUAkJOHALbPcJ4_fuvnDvdl-O
NUXT_OIDC_AUTH_SESSION_SECRET=f3vulng8zpzfKQYnLbVNrbCDyEtaP6XgQmQBwZnurTFGW1cu
