# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# API URL configuration
UPSTREAM_URL=

# Better Auth settings
BETTER_AUTH_SECRET=

# OpenID settings
POCKET_SERVER=https://login.troela.fun
POCKET_CLIENT_ID=logistiek-nuxt-dev
POCKET_CLIENT_SECRET=
